<div id="big-filter">
  <div class="accepted selected selected-accepted" title="Лучшие в работе!" tag=""></div>
  <div class="introduced " title="Внедрены" tag=""></div>
  <div class="considered " title="Рассмотрены" tag=""></div>
  <div class="review " title="На рассмотрении" tag=""></div>
  <div class="all " title="Все" tag=""></div>
</div>


<%= will_paginate @ideas, :inner_window => 1, :outer_window => 0 %>

<div class="comments">
  <%= render @ideas %>
</div>

<%= will_paginate @ideas, :inner_window => 1, :outer_window => 0 %>
