$main_bg_color: #E6E6E6;

a {
 color: #08628C;
}

body {
 background-image: url('/assets/l-wrap__bg.jpg');
}

.header-block {

}

left-block {

}



.left-block {
  border: dotted gray;
  float: left;
  width: 200px;
  height: 800px;

  margin-right: 15px
}

.top-block {
  border: dotted gray;
    height: 150px;
    margin-bottom: 15px

}

.content {
    float: left;
    width: 600px;
}

.login_error_message {
  top: 20px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: x-large;
  color: red;
}
