// Place all the styles related to the calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.b-calculator {
  margin-top: 19px;
	height: 10em;
	background: #e6e6e6;
	position: relative;
	z-index: 4;

  .region_combo {
    height: 32px;
    border-radius: 32px;
    border: 1px solid #ABADB3;
    padding: 12px;
    font-size: large;
    width: 320px;
    float: left;
    background-image: url("/assets/icon/lens.png");
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 58px;
    margin-top: 7px;

  }

  .ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }

  ul.ui-autocomplete {

    background: white;
    width: 250px;
      a.ui-corner-all {

    }

  }
  button[type=button], .nabla {
    width: 32px;
    height: 32px;
    float: left;
  }

  .power {
    height: 32px;
    border-radius: 32px;
    border: 1px solid #ABADB3;
    padding: 12px;
    font-size: large;
    width: 90px;
    float: left;
    text-align: center;
    margin-top: 7px;
  }

  img.cross {
    top: -37px;
    left: 358px;
    position: relative;
    z-index: 1
  }
  .b-calculator__title {
    font-size: 1.125em;
    position: absolute;
    top: 0.833em;
    left: 6%;
  }
  .b-topcol-leftcol, .b-topcol-centercol {
  	padding-top: 45px;
	}
  .b-topcol-leftcol {
    width: 392px;
  }

  .b-topcol-centercol {
    width: 150px;
    padding-left: 10px;
    .title {
      margin: 0px;
    }
  }

  .b-calculator-nalog {
    font-size: 1.125em;
    text-align: left;
    padding-top: 12px;
    margin-top: 24px;

  }
  .b-calculator-nalog__title {
    display: block;
  }
  .b-calculator-nalog__amount {
    font-size: 3.556em;
    line-height: 1;
    margin-left: -3px;
  }
  .b-calculator-nalog__rub {
    vertical-align: top;
    margin-top: 0.625em;
    margin-left: 0.313em;
  }
  .b-bigblockcorner {
    background: url('/assets/b-bigblockcorner.png') no-repeat 0 0;
    z-index: 4;
  }
}

.region_collection {
    position: absolute;
    max-height: 200px;
    z-index: 10;
    border: 1px solid #ABADB3;
    overflow: auto;
    background: white;
    width: 269px;
    display: none;
    border-top: none;
    top: 438px;
    left: 182px;

    .region:hover {
      background-color: #ABADB3;
      cursor: pointer;
      color: white;

      }

  }

