// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about {
  text-align: justify;
  background-color: #e6e6e6;
  padding: 25px;
  padding-left: 47px;
  h3 {
    padding-bottom: 12px;
    text-align: center;
  }
  p {
    padding-bottom: 9px;
    text-indent: 40px;
  }
  ul {
    margin-left: 10px;
    list-style-type: square;
    padding-right: 250px;
  }
  li {
    list-style-type: inherit;
    margin-left: 20px;
  }

  h4 {
    padding-bottom: 12px;
    padding-top: 12px;
  }

}