
#notice {
  color: green; }

.error_messages {
  padding: 10px;
  font-size: x-large;
  color: red;
  margin-left: 43px;
  margin-top: 20px;
  }
#error_explanation {
  width: 450px;
  padding: 24px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: red;
    color: #fff; }
  ul li {
    font-size: 16px;
    padding: 5px;
    color: red;
    list-style: initial; } }
