.about
  %p
    Здравствуйте, уважаемый посетитель! Убедительно просим прочитать эту страницу до конца, а лучше пару-тройку раз, дабы четко понимать наши задачи и цели (ссылка на низ страницы), а также способы их достижения.
  %p
    В России ок. 130 млн. человек и ок. 35 млн. автомобилей, получается, что каждый четвертый житель страны – автовладелец, а поскольку в семье на один автомобиль два-три водителя, то автолюбителей, скорее всего – добрая половина населения страны. Для многих из нас автомобиль, не просто средство передвижения, а способ реализации, закрепленной Конституцией, свободы перемещения; средство производства; культовый предмет потребления; верный друг и помощник… Каждый раз, садясь за руль собственного автомобиля, мы испытываем гордость от его владения, чувствуем безопасность стального кузова, наслаждаемся притоком адреналина, при нажатии на «газ», получаем удовольствие, созерцая его внешний облик, разрез фар, обводы кузова… Автомобиль стал полноправным членом семьи, ему даже стали давать собственные имена: «Мерсик», «Пыжик», «Аудеха», «Лёха»…
  %p
    Но есть и другая сторона медали – затраты на содержания стального коня: расходы на топливо, транспортный налог, ОСАГО, счета за сервис, поборы ГИБДДшников… Причем, с каждым годом сумма вложений постоянно растет, и доходы, как правило, не поспевают за этим ростом. С ужасом открываешь письма из ИФНС с квитанциями на уплату транспортного налога. Каждый раз, подъезжая к АЗС, оцениваешь, на сколько копеек стало дороже топливо после последней заправки. Полис ОСАГО подорожал просто враз и тихо-тихо, без особого обсуждения, а про доблестных ГИБДДшников, переименованных в ПОЛИЦИЮ, вообще говорить не хочется, вместо обеспечения безопасности дорожного движения - развод на бабло, а была ли угроза безопасности движения, никого не волнует…
  %h3 «Де юре»
  %p
    Конституция Российской Федерации:
    %br/
    Статья 2
    %br/
    Человек, его права и свободы являются высшей ценностью. Признание, соблюдение и защита прав и свобод человека и гражданина - обязанность государства.
    %br/
    Статья 3
    %ol
      %li Носителем суверенитета и единственным источником власти в Российской Федерации является ее многонациональный народ.
      %li Народ осуществляет свою власть непосредственно, а также через органы государственной власти и органы местного самоуправления.
      %li Высшим непосредственным выражением власти народа являются референдум и свободные выборы.
  %p
    Устав  …….……кой области:
    %br/
    Статья 4
    %ol
      %li Источником власти в области является народ.
      %li Народ осуществляет свою власть непосредственно, а также через органы государственной власти области и органы местного самоуправления.
      %li Высшим непосредственным выражением власти народа являются референдум и свободные выборы.
    %br
  %h3
    «Де факто»
  %p
    Постановление от 13 июля 2011 г. №574
    %br/
    О внесении изменений в страховые тарифы по обязательному страхованию гражданской ответственности владельцев транспортных средств, их структуру и порядок применения страховщиками при определении страховой премии
    %br/
    Правительство Российской Федерации постановляет:
  %p
    Утвердить прилагаемые изменения, которые вносятся в страховые тарифы по обязательному страхованию гражданской ответственности владельцев транспортных средств, их структуру и порядок применения страховщиками при определении страховой премии, утвержденные постановлением Правительства Российской Федерации от 8 декабря 2005 г. № 739 (Собрание законодательства Российской Федерации, 2005, № 51, ст. 5527; 2008, № 9, ст. 863; 2009, № 11, ст. 1320).
  %p
    Председатель Правительства
    %br/
    Российской Федерации В.Путин
  %p
    После вступления в силу этого постановления в нашем городе полис ОСАГО подорожал на 30%...
  %p
    В декабре 2010 года Президент России Дмитрий Медведев подписал поправки к НК РФ о снижении базовой ставки транспортного налога в 2 раза. С 2011 года для автомобилей мощностью до 100 л. с. ставка транспортного налога составит 2,5 рубля за 1 л. c., от 100 до 150 л. с. – 3,5 рубля, от 150 до 200 л. с. – 5 рублей, от 200 до 250 л. с. – 7,5 рубля и более 250 л. с. – 15 рублей. Принятые поправки также позволяют местным властям устанавливать на свое усмотрение пониженные ставки (вплоть до нуля) для машин с двигателями мощностью до 150 лошадиных сил включительно. При этом, регионам оставили право самостоятельно определять размер транспортного налога, который может превышать базовую ставку в 10 раз. ЗСО Челябинской области единогласно приняло максимально возможные коэффициенты к базовым ставкам транспортного налога.
  %p
    На деле получается, что наш с Вами кошелек опустошают избранные нами же депутаты ЗСО, Государственной Думы, Президент? Почему никто не учитывает наши интересы, интересы народа, избравшего законодательную власть? Почему такая несправедливость при начислении транспортного налога?
  %p
    Если у меня мощный автомобиль, он в десятки раз стоит дороже Жигулей, там одного НДС 18%, который полностью идет в доход государства, так еще транспортного налога я должен платить в разы больше! Мало того, что лошадиных сил больше, так еще и они обходятся мне в разы дороже! А как же социальная справедливость? Получается, если я могу зарабатывать больше, плачу налогов больше, но и налоговая транспортная нагрузка на меня больше?
  %p
    Была нормальная законодательная инициатива: ввести дополнительный акциз на топливо - 1 рубль с литра, все логично, мощнее машина -  больше ест бензина – больше платишь, так почему же оставили транспортный налог, да еще и установили максимальную ставку? Мы с этим не согласен, мы зарабатываем деньги сами, и хотим их тратить по-нашему усмотрению, а не по прихоти депутатов, это наша жизнь, она всего одна, и мы не собираемся всю ее потратить на отработку налогов! Соразмерность начисления налогов должна соответствовать среднему заработку в регионе, а сегодня с нас сдирают три шкуры, притом возможности не платить просто нет - вся налоговая и судебная машина настроена в защиту интересов государства, вразрез наших с вами.
  %p
    Этот ресурс создан для того, чтобы изменить ситуацию:
    %ol
      %li Добиться цен на автомобили как в развитых странах (США, Евросоюз и т.д.)
      %li Добиться логичного, прозрачного и справедливого транспортного налога!
      %li Добиться разумных цен на топливо!
      %li Добиться работающей системы ОСАГО и честного техосмотра!
      %li Добиться того, чтобы дорожная полиция ПОМОГАЛА на дороге, а не собирала дань!
