.about
  %p Присоединиться к армии автовладельцев
  %p Внести свое предложение, или проголосовать за понравившееся
  %p Набрать достаточное количество электронных подписей
  %p Выбрать форму диалога с властью: письмо/жалоба/пикет/референдум
  %p Добиться принятия властью предложения