.b-footer
  .b-footer-leftcol
    %img{:alt => "", :src => "liveinternet.gif"}>/
    \  
    %img{:alt => "", :src => "liveinternet.gif"}/
    .b-footer__copyright © Интернет-сообщество «Российская армия автомобилистов», 2011
    .b-footer__slogan Мы создаём работающий механизм, который будет доносить до власти наше мнение!
  .b-footer-rightcol
    Соц. кнопки здесь
  .clear
