.b-header
  .b-header-logo
    %a.b-header-logo-link{:href => "#"}
      %span.b-header-logo__name
        %span.b-header-logo__rosaa> ROSAA.
        NET
      %span.b-header-logo__slogan ИНТЕРНЕТ-СООБЩЕСТВО АВТОЛЮБИТЕЛЕЙ
  .b-header-menu
    %ul.b-header-menu-list
      %li.inlineBlock.b-header-menu-list-item
        %a.b-header-menu__link{:href => "#"} О нас
      %li.inlineBlock.b-header-menu-list-item
        %a.b-header-menu__link{:href => "#"} Зачем это мне?
      %li.inlineBlock.b-header-menu-list-item
        %a.b-header-menu__link{:href => "#"} Твоя ИНИЦИАТИВА
      %li.inlineBlock.b-header-menu-list-item
        %a.b-header-menu__link{:href => "#"} Что делать?
